/* Estilos para el contenedor principal */
#container {
    max-width: 1600px; /* Ancho máximo de la página */
    margin: 0 auto; /* Centra el contenido en la página */
    padding: 20px; /* Agrega espacio alrededor del contenido */
}

/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Estilos para la imagen */
#image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para la descripción */
#description {
    text-align: left;
    padding: 20px;
}
